@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

table {
  border-radius: 15px;
  overflow: hidden;
  border-collapse: collapse;
  width: 100%; /* Ajusta el ancho de la tabla */
}

th,
td {
  text-align: left;
  padding: 16px;
  border: 1px solid #ddd;
  padding: 8px;
  width: 20%; /* Ajusta el ancho de las columnas, en este caso a un 25% */
  /* font-size: 5px; */
}

thead {
  background: #333;
  color: white;
  border-radius: 2px 2px;
}

tr:nth-child(even) {
  background: #f2f2f2;
}

h1 {
  color: white;
  font-size: xx-large;
}

.user-dashboard {
  background-color: #ff3080;
  /* background-image: url("/images/woman_placeholder.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center; */
}

.admin-dashboard {
  background-color: white;

  min-height: 100vh;
  /* min-width: 100vh; */
}

.auth-form {
  border: #dddddd 0.5px solid;
  width: 35%;
}

.auth-logo {
  width: 30%;
  height: auto;
}

.sara-background-lg {
  visibility: hidden;
}

.social-table {
  display: inline-block;
  width: 200%;
}

.standar-form {
  width: 75%;
}

.table-container {
  width: 100%; /* o cualquier tamaño deseado */
  overflow-x: auto; /* habilita el scroll lateral */
  white-space: nowrap; /* evita el ajuste automático del contenido */
  padding: 25px;
}

.top-logo {
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
}

.link-expanded {
  transition: transform 0.3s;
}

.link-expanded:hover {
  transform: scale(1.05);
}

.download-button {
  margin-top: 10px;
  border: 3px solid #000;
  border-color: white;
  font-size: large;
  font-weight: bolder;
  color: white;
  transition: transform 0.3s;
}

.download-button:hover {
  transform: scale(1.05);
}

.sara-background-sm {
  background-color: white;
  border-radius: 87% 13% 0% 100% / 100% 8% 92% 0%;
}

.sara-container {
  position: fixed;
  bottom: 0;
  z-index: -5;
  height: 100%;
  /* background-color: chartreuse; */
}

.sara-image {
  width: 90%;
  height: auto;
  position: relative;
}

.social-link {
  width: 40%;
  height: 4rem;
  box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.3);
}

.logo {
  filter: brightness(0) invert(1);
  width: 25%;
  height: auto;
}

.brand-logo {
  width: 75%;
  height: auto;
}

@media screen and (max-width: 30em) {
  h1 {
    font-size: x-large;
  }

  .auth-logo {
    width: 50%;
  }

  .auth-form {
    width: 80%;
  }

  .top-logo {
    font-size: 1rem;
  }

  .download-button {
    padding: 0.5rem;
    margin-bottom: 25px;
    font-size: medium;
    /* padding: auto; */
  }

  .sara-image {
    height: 100%;
    width: 100%;
  }

  .sara-background {
    width: 50%;
    /* display: flex;
    flex-direction: column;
    justify-content: end; */
  }

  .sara-container {
    background-color: white;
    height: 65%;
    border-radius: 87% 13% 0% 100% / 100% 8% 92% 0%;
    background-image: url("/images/V-SARA.png");
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: bottom;
  }

  .social-link {
    width: 70%;
    height: 3rem;
  }

  .top-container {
    background-image: url("/images/powered.png");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: top;
    background-position: left 10px top 35px;
  }
  /* … */
}

@media screen and (min-width: 30em) and (max-width: 64em) and (orientation: landscape) {
  h1 {
    font-size: x-large;
  }

  .auth-logo {
    width: 30%;
  }

  .auth-form {
    width: 80%;
  }

  .download-button {
    margin-bottom: 25px;
  }
  .sara-background-sm {
    visibility: hidden;
  }
  .social-link {
    width: 60%;
  }
  .sara-container {
    visibility: hidden;
  }
  /* … */
}

@media screen and (min-width: 49em) and (max-width: 64em) {
  .social-link {
    width: 80%;
  }

  .auth-logo {
    width: 30%;
  }

  .auth-form {
    width: 80%;
  }

  .sara-container {
    background-color: white;
    height: 65%;
    border-radius: 87% 13% 0% 100% / 100% 8% 92% 0%;
    background-image: url("/images/V-SARA.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: bottom;
  }

  .top-container {
    background-image: url("/images/powered.png");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: top;
    background-position: left 10px top 25px;
  }
  /* … */
}

@media screen and (min-width: 64em) {
  .logo {
    width: 8%;
  }

  .standar-form {
    width: 25%;
  }

  .logo {
    filter: none;
  }

  .user-dashboard {
    background-color: white;
    background-image: url("/images/H-BG2.png");
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .download-button {
    border-color: white;
    background-color: #ff3080;

    color: white;
    margin-right: 40px;
  }

  .sara-background-sm {
    visibility: hidden;
  }

  .sara-background-lg {
    /* background-color: white; */
    visibility: visible;
    height: 100%;
    width: 20%;

    /* background-image: url("/images/H-SARA.png"); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: bottom;
    /* border-radius: 81% 19% 0% 100% / 100% 23% 77% 0%; */
  }

  .brand-logo {
    filter: none;
  }

  .super-sara {
    height: 100vh;
    background-image: url("/images/H-SARA.png");
    background-size: 28%;
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: bottom;
  }

  .sara-container {
    background-image: url("/images/powered-w.png");

    background-size: 15%;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom;
    background-position: left 20px bottom 20px;
  }

  .social-column {
    margin-bottom: 6rem;
  }
  /* … */
}
